/*estilização gerais da página */
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
}


/*estilização do menu*/

button {
    display: none;
}

#tituloMenu {
    display: inline-block;
    color: white;
    padding-top: 1.55rem;
    padding-right: 2.15rem;
    float: right;
}

#logoMenu {
    width: 40px;
    display: inline-block;
    padding-left: 1.7rem;
    padding-top: 0.8rem;
}

nav {
    background-color: #0d1117;
    position: fixed;
    width: 22rem;
    height: 650rem;
}

ul {
    list-style: none;
    top: 70px;
    position: absolute;
    width: 100%;
}

li {
    margin-left: 30px;
}

.menu {
    text-decoration: none;
    display: block;
    padding: 20px 5px;
    color: white;
}

.menu:hover {
    background-color: #f1f1ff;
    color: black;
}


/*estilização do conteudo principal da página*/

main {
    position: absolute;
    display: inline-block;
    margin-left: 22rem;
    padding-bottom: 2rem;
}


/*estilização de textos e imagens do conteudo principal da página*/

h1 {
    margin-top: 1.55rem;
    margin-left: 9.5rem;
    font-size: 1.8rem;
}

.textoGeral {
    display: inline-block;
    margin-left: 9.5rem;
    margin-top: 1.55rem;
    font-size: 1.2rem;
    width: 47rem;
    text-align: justify;
}

.imgGeral {

    display: inline-block;
    margin-top: 1.55rem;
    margin-left: 17rem;
    width: 33rem;
}

.imgLinux {
    display: inline-block;
    margin-top: 1.55rem;
    margin-left: 9rem;
    width: 48.3rem;
}


/*funcionalidade para aparecer o menu*/

button:focus~ul {
    display: block;
    background-color: #0d1117;
    height: 320px;
}

ul:hover {
    display: block;
}


/*Funcionalidades para deixar a página resposiva*/

@media(max-width: 1270px) {
    #tituloMenu {
        font-size: 0.9rem;
    }

    #logoMenu {
        width: 35px;
    }

    nav {
        width: 20rem;
    }

    main {
        margin-left: 18rem;
    }

    .imgGeral {
        margin-left: 14rem;
    }
}

@media (max-width: 1216px) {
    main {
        margin-left: 16rem;
    }
}

@media (max-width: 1180px) {
    #tituloMenu {
        padding-top: 1.40rem;
        font-size: 0.75rem;
    }

    #logoMenu {
        width: 28px;
    }

    nav {
        width: 17rem;
    }

    li {
        font-size: 0.7rem;
    }

    h1 {
        font-size: 1.6rem;
    }

    .textoGeral {
        font-size: 1rem;
        width: 40rem;
    }

    .imgGeral {
        width: 28rem;
        margin-left: 12rem;
    }

    .imgLinux {
        width: 43.3rem;
    }
}

@media (max-width: 1069px) {
    main {
        margin-left: 12rem;
    }
}

@media (max-width: 1004px) {
    h1 {
        font-size: 1.2rem;
    }

    .textoGeral {
        font-size: 0.7rem;
        width: 30rem;
    }

    .imgGeral {
        width: 15rem;
    }

    .imgLinux {
        width: 32.3rem;
    }
}


/*Dentro dessa @media eu altero meu menu*/

@media (max-width: 848px) {

    
    /*mudando meu tipo de menu*/

    #tituloMenu {
        display: none;
    }

    nav {
        display: flex;
        height: 55px;
    }

    nav,
    ul {
        flex-direction: column;
        width: 100%;
    }

    ul {
        display: none;
        margin-top: -20px;
        text-align: center;
    }

    button {
        display: flex;
        background-color: transparent;
        border: none;
        color: white;
        font-size: 36px;
        position: absolute;
        right: 10px;
    }

    button:hover {
        cursor: pointer;
        background-color: #f1f1ff;
        color: black;
    }

    /*fim das mudanças do tipo de menu*/

    main {
        position: unset;
        padding-top: 65px;
        margin-left: -1rem;
    }

    h1 {
        font-size: 1.28rem;
    }

    .textoGeral {
        font-size: 0.9rem;
        width: 30rem;
    }

    .imgGeral {
        width: 17rem;
    }
}

@media (max-width: 758px) {
    main {
        margin-left: -3rem;
    }
}

@media (max-width: 602px) {
    main {
        margin-left: -5rem;
    }

    h1 {
        font-size: 1rem;
    }

    .textoGeral {
        font-size: 0.6rem;
        width: 25rem;
    }

    .imgGeral {
        width: 15rem;
    }

    .imgLinux {
        width: 27.3rem;
    }
}

@media (max-width: 497px) {
    main {
        margin-left: -9rem;
    }

    h1 {
        font-size: 0.8rem;
    }

    .textoGeral {
        font-size: 0.6rem;
        width: 20rem;
    }

    .imgGeral {
        width: 15rem;
    }

    .imgLinux {
        width: 22.3rem;
    }
}